---
layout: page
# The Home page layout
---

<div class="d-flex justify-content-center">
<h1 class="dynamic-title">
  {{site.title}}
</h1>
</div>

<hr>

<div class="row justify-content-center">
  <div class="col-4 col-lg-3 col-xl-3">
    <!-- <div id="avatar" class="d-flex align-content-center"> -->
      <img style="width:100%; border-radius: 50%" src="{{site.baseurl}}/assets/img/profile.jpg">
    <!-- </div> -->
    <div align="center">
     <a href="https://scholar.google.com/citations?user=QA9Pf4gAAAAJ&hl=en" target="_blank">Google Scholar</a> ||
     <a href="https://www.scopus.com/authid/detail.uri?authorId=57140682400" target="_blank">Scopus</a>
    </div>
    
  </div> <!-- #page -->
  <div class="col-10 col-lg-7 col-xl-7">
    <p align="justify">
      Designing new soft computing systems in engineering. <b> Focusing on design optimization </b> at the
       <i><a target="_blank" href="https://www.toyota-ti.ac.jp/english/research/labolatories/mech/post-26.html">Design Engineering Laboratory</a>, <a target="_blank" href="https://www.toyota-ti.ac.jp/english/index.html">Toyota Technological Institute</a>.</i>
      <br><br>
      Develops optimization algorithms and computational methods to solve problems in structural designs, structural health monitoring, and human-centred computing.<br>
    </p>
  </div> <!-- #page -->
</div><!-- .col-12 -->


<h3 class="dynamic-title d-flex justify-content-center">
   <a target="_blank" rel="noopener noreferrer" href="mailto:benaissa@toyota-ti.ac.jp?subject=Hi"> <!-- Replace with "mailto:YOUREMAIL@ADDRESS.COM?subject=SUBJECT"  -->
        <span style="font-size:1.1em;"> Contact me... 📨</span>
   </a>
</h3>



<!-- <h3 class="dynamic-title d-flex justify-content-center">
  Other profiles...
</h3>

<div class="d-flex justify-content-center">
  <ul class="list-inline mb-12">
    <li class="list-inline-item"> <div class="fab fa-linkedin-in">
      <a target="_blank" rel="noopener noreferrer"  href="https://linkedin.com/in/{{ site.linkedin.username }}"> LinkedIn </a>
      </div> </li>
    <li class="list-inline-item"> <div class="fab fa-github">
      <a target="_blank" rel="noopener noreferrer" href="https://github.com/{{ site.github.username }}"> GitHub </a>
    </div> </li>
    <li class="list-inline-item"> <div class="fab fa-google">
    <a target="_blank" rel="noopener noreferrer" href="https://scholar.google.com/citations?user=QA9Pf4gAAAAJ&hl=en"> Scholar </a>
    </div> </li>
    <li class="list-inline-item"> <div class="fab fa-researchgate">
    <a target="_blank" rel="noopener noreferrer" href="https://www.researchgate.net/profile/Brahim-Benaissa"> ResearchGate </a>
    </div> </li>
    <li class="list-inline-item"> <div class="fab fa-orcid">
    <a target="_blank" rel="noopener noreferrer" href="https://orcid.org/0000-0002-9472-9331"> ORCiD </a>
    </div> </li>
    <li class="list-inline-item"> <div class="fab fa-twitter">
      <a target="_blank" rel="noopener noreferrer"  href="https://twitter.com/{{ site.twitter.username }}"> Twitter </a>
      </div> </li>
</ul>
</div> -->



<div class="d-flex justify-content-center">
  🌎 Nagoya, Japan
</div>


<h1 class="d-flex justify-content-center">
  Posts
</h1>

<div id="post-list">
  {% for post in paginator.posts %}
  <div class="post-preview">
    <h1>
      <a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a>
    </h1>
    <div class="post-content">
      <p>
      {% assign _content = post.content %}
      {% include no-linenos.html %}
      {{ _content | markdownify | strip_html | truncate: 200 }}
      </p>
    </div>

    <div class="post-meta text-muted">
      <!-- posted date -->
      <i class="far fa-clock fa-fw"></i>
      <span class="timeago" data-toggle="tooltip" data-placement="bottom"
        title="{{ post.date | date: site.data.date_format.tooltip }}">
      {{ post.date | date: site.data.date_format.post }}
      <i class="unloaded">{{ post.date | date_to_xmlschema }}</i>
      </span>
      <!-- page views -->
      {% if site.google_analytics.pv.enabled %}
      <i class="far fa-eye fa-fw"></i>
      <span id="pv_{{-post.title-}}" class="pageviews">
        <i class="fas fa-spinner fa-spin fa-fw"></i>
      </span>
      {% endif %}
    </div>
  </div> <!-- .post-review -->
  {% endfor %}
</div> <!-- #post-list -->

{% if paginator.total_pages > 0 %}
  {% include post-paginator.html %}
{% endif %}
